## Getting the positions of the jellyfish candidates

In [1]:
import eagleSqlTools as sql
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
sim_name = 'RefL0100N1504'
con = sql.connect("nkl161", password="FCGxrt20")

In [3]:
jellyfish_ID = [9542933, 10694572, 11556600, 12143703, 12681787, 
                12728081, 13681352, 17929826]

In [19]:
# # Initialize empty list
jellyfish_data = []

# Define SQL query
for i in range(len(jellyfish_ID)):
    ID = jellyfish_ID[i]
    jellyfish_query = """
    SELECT
        sub.GalaxyID as galID,
        sub.GroupNumber,
        sub.SubGroupNumber,
        sub.CentreOfPotential_x as x,
        sub.CentreOfPotential_y as y,
        sub.CentreOfPotential_z as z,
        SQRT(SQUARE(fof.GroupCentreOfPotential_x - sub.CentreOfPotential_x)
        +SQUARE(fof.GroupCentreOfPotential_y - sub.CentreOfPotential_y)
        +SQUARE(fof.GroupCentreOfPotential_z - sub.CentreOfPotential_z))
        as Distance
    FROM
        %s_SubHalo as sub,
        %s_FOF as fof,
        %s_Aperture as ap
    WHERE
        sub.GroupID = fof.GroupID and
        sub.GalaxyID = %d and
        ap.GalaxyID = sub.GalaxyID and
        ap.ApertureSize = 30
    """%(sim_name, sim_name, sim_name, ID)
    
    # Execute query
    output = sql.execute_query(con, jellyfish_query)
    jellyfish_data.append(output)

In [20]:
for i in range(len(jellyfish_ID)):
    print('Group Number: ', jellyfish_data[i]['GroupNumber'],
          'Sub Group Number: ', jellyfish_data[i]['SubGroupNumber'],
          'Coordinates: ', jellyfish_data[i]['x'], jellyfish_data[i]['y'], jellyfish_data[i]['z'])

Group Number:  3 Sub Group Number:  18 Coordinates:  9.508234 34.789204 54.27537
Group Number:  7 Sub Group Number:  10 Coordinates:  76.1885 88.92437 42.11888
Group Number:  14 Sub Group Number:  4 Coordinates:  36.923607 45.161335 97.52874
Group Number:  24 Sub Group Number:  2 Coordinates:  54.03829 35.618988 34.687485
Group Number:  45 Sub Group Number:  2 Coordinates:  78.19992 31.130318 55.99916
Group Number:  53 Sub Group Number:  4 Coordinates:  96.83209 20.332418 45.665028
Group Number:  106 Sub Group Number:  1 Coordinates:  92.16184 13.770495 36.18405
Group Number:  91 Sub Group Number:  4 Coordinates:  89.5792 57.82864 11.818191